<?xml version="1.0"?>

<launch>
    <arg name="ros_version" default="$(env ROS_DISTRO)"/>
    <arg name="model"   default="m1013"/>
    <arg name="ns"      default="dsr"/>
    <arg name="gui"     default="True" />
    <arg name="remap"   default="True"/>
    <arg name="color"   default="white"/>
    <arg name="gripper" default="none"/>
    <arg name="mode" default="real"/>


<!--    <param name="doosan_description" command="$(find xacro)/xacro '$(find dsr_description)/xacro/$(arg model).urdf.xacro' '&#45;&#45;inorder' 'namespace:=$(arg ns)' color:=$(arg color) gripper:=$(arg gripper)"/> -->
    <param name="vention_description" command="$(find xacro)/xacro '$(find behaviors)/description/robot.urdf.xacro' '--inorder'"/>
    <!-- <param name="bracket_description" textfile="$(find bracket)/urdf/bracket.urdf"/>
    <include file="$(find realsense2_description)/launch/view_d435_model.launch" /> -->
<!--     <include file="$(find robotiq_2f_85_gripper_visualization)/launch/test_2f_85_model.launch" /> -->
<!--    <param name="gripper_description" command="$(find xacro)/xacro $(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro" /> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="doosan_mir"
          args="0 0 0  0 0 0 plate_arm world 100"/>
    <node pkg="tf" type="static_transform_publisher" name="vention_mir"
          args="0 0 0 0 0 0 surface structure_vention 100"/> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="doosan_map"
          args="10 10 0.76 0 0 0 map world 100"/> -->

    <node pkg="tf" type="static_transform_publisher" name="machine_map"
          args="16.6 3.6 -0.2 0 0 0 map machine 100"/>


    <!-- <node pkg="tf" type="static_transform_publisher" name="bracket_doosan"
          args="0 0 0 1.57 0 -1.57  link6 bracket_base_link 100"/> -->

<!--     <node pkg="tf" type="static_transform_publisher" name="gripper_doosan" -->
<!--           args="0 0 0 1.57 0 -1.57  link6 robotiq_arg2f_base_link 100"/> -->

    <node pkg="tf" type="static_transform_publisher" name="camera_bracket"
          args="-0.0504955 0.0284431 0.0760899 -3.1321603 -1.3428157 3.1284867   link6 camera_link 100"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="doosan_map"
          args="0 0 0 0 0 0 map map_doosan 100"/> -->

<!--   <node name="doosan_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false">-->
<!--       <remap from="/joint_states" to="/dsr01m1013/joint_states"/>-->
<!--       <remap from="robot_description" to="doosan_description" />-->
<!--    </node> -->


    <node name="vention_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false">
        <remap from="robot_description" to="vention_description" />
    </node>
    <!-- <node name="bracket_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false">
        <remap from="robot_description" to="bracket_description" />
    </node> -->
    
    <group if="$(eval arg ('mode') == 'real')">
        <node pkg="utility" type="add_basic_colision.py" name="colision_base" ns="/dsr01m1013" >
            <param  name="robot_description" value="/dsr01m1013/robot_description" />
        </node>
    </group>


<!--        <node name="camera_arm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" > -->
<!--        <remap from="robot_description" to="camera_arm_description" /> -->
<!--    </node> -->
<!--    <node name="gripper_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false"> -->
<!--        <remap from="/joint_states" to="/gripper/joint_states"/> -->
<!--        <remap from="robot_description" to="gripper_description" /> -->
<!--    </node> -->
        <!--    In progresse-->
<!--    <node name="gripper_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" respawn="false"> -->
<!--        <param name="robot_description" value="gripper_description"/> -->
<!--    </node> -->
<!--    rosrun joint_state_publisher_gui joint_state_publisher_gui robot_description:="gripper_description" -->


</launch>