################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zorg/VR_Teleoperation/Temp/UnityLockfile
.vs
.vscode