<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="vacuum">
  <link
    name="vacuum_base_link">
    <inertial>
      <origin
        xyz="6.517E-09 -0.014367 0.027764"
        rpy="0 0 0" />
      <mass
        value="0.097429" />
      <inertia
        ixx="0.00011904"
        ixy="-3.2786E-12"
        ixz="-1.6419E-11"
        iyy="0.000148"
        iyz="1.9632E-05"
        izz="0.00010905" />
    </inertial>
    <visual>
      <origin
        xyz="-0.035 -0.02 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vacuum/meshes/tool.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.96078 0.96078 0.96471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.035 -0.02 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vacuum/meshes/tool.STL" scale="0.0010 0.0010 0.0010"/>
      </geometry>
    </collision>
  </link>



  <link
    name="vacuum_tube">
    <visual>
      <origin
        xyz=" 0 0.064 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.128" radius="0.012"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.96078 0.96078 0.96471 1" />
      </material>
    </visual>
      <collision>
      <origin
        xyz="0 0.064 0"
        rpy="1.57 0 0" />
      <geometry>
         <cylinder length="0.128" radius="0.012"/>
      </geometry>
    </collision>
  </link>
  <link
          name="vacuum_sphere">
    <visual>
      <origin
              xyz=" 0 0.02 0"
              rpy="0 0 0" />
      <geometry>
        <sphere radius="0.024"/>
      </geometry>
      <material
              name="">
        <color
                rgba="0.96078 0.96078 0.96471 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0.02 0"
              rpy="0 0 0" />
      <geometry>
        <sphere radius="0.024"/>
      </geometry>
    </collision>
  </link>

   <link
    name="vacuum_tcp">
  </link>

   <link
    name="vacuum_safe_tcp">
  </link>

  <joint
    name="tube_joint"
    type="fixed">
    <origin
      xyz="0 0.1 0"
      rpy="0 0 0" />
    <parent
      link="vacuum_base_link" />
    <child
      link="vacuum_tube" />
  </joint>

  <joint
      name="sphere_joint"
      type="fixed">
    <origin
      xyz="0 0.128 0"
      rpy="0 0 0" />
    <parent
            link="vacuum_tube" />
    <child
            link="vacuum_sphere" />
  </joint>

  <joint
          name="tcp_joint"
          type="fixed">
    <origin
            xyz="0 0.048 0"
            rpy="0 0 0" />
    <parent
            link="vacuum_sphere" />
    <child
            link="vacuum_tcp" />
  </joint>

  <joint
          name="tcp_safe_joint"
          type="fixed">
    <origin
            xyz="0 0.05 0"
            rpy="0 0 0" />
    <parent
            link="vacuum_tcp" />
    <child
            link="vacuum_safe_tcp" />
  </joint>

</robot>