<launch>
    <include file="$(find mir_gazebo)/launch/mir_maze_world.launch"/>

    <include file="$(find behaviors)/launch/tf.launch">
        <arg name="mode" value="virtual"></arg>
    </include>

    <include file="$(find mir_navigation)/launch/amcl.launch">
        <arg name="initial_pose_x" default="10.0"/>
        <arg name="initial_pose_y" default="10.0"/>
    </include>

    <include file="$(find mir_navigation)/launch/start_planner.launch">
        <arg name="map_file" default="$(find mir_gazebo)/maps/maze.yaml"/>
        <arg name="virtual_walls_map_file" default="$(find mir_gazebo)/maps/maze_virtual_walls.yaml"/>
    </include>
    
</launch>