<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m1013" >

  <xacro:arg name="color"   default="white"/>
  <xacro:arg name="gripper" default="none"/>


  <xacro:property name="cr" value="$(arg color)"/>
  <xacro:property name="gr" value="$(arg gripper)"/>

  <xacro:if value="${cr == 'white'}">
     <xacro:include filename="$(find dsr_description)/xacro/macro.m1013.white.xacro" />
  </xacro:if>
  <xacro:if value="${cr == 'blue'}">
     <xacro:include filename="$(find dsr_description)/xacro/macro.m1013.blue.xacro" />
  </xacro:if>
  <xacro:m1013 namespace="$(arg namespace)"/>

  <link name="world" />
  <xacro:if value="${gr == 'robotiq_2f'}">
     <xacro:include filename="$(find dsr_description)/xacro/robotiq_2f.urdf.xacro" />
  </xacro:if>

  <!-- <link name="tcp" /> -->
  <!-- <link name="map" /> -->

  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_0"/>
  </joint>

    <!-- World fixed joint-->
    <!-- <joint name="map_planar" type="planar">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="map"/>
      <child link="world"/>
    </joint> -->

  <!-- TCP fixed joint-->
  <!-- <joint name="tcp_fixed" type="fixed">
    <origin xyz="0 0 0.1" rpy="0 -1.57075 0"/>
    <parent link="link6"/>
    <child link="tcp"/>
  </joint> -->

  <xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro" />
  <joint name="camera_fixed" type="fixed">
    <origin xyz="-0.06 0.01 0.1" rpy="-1.15622991 -1.56390655  1.14494029"/>
    <parent link="link6"/>
    <child link="camera_base"/>
  </joint>

<!--  Matrice entre link6 et camera_base -->
<!--  0.00582503  0.00730799   -0.999956  -0.0744662-->
<!--  0.00419196    0.999964  0.00733246  0.00341612-->
<!--  0.999974 -0.00423448  0.00579419    0.102301-->
<!--  0           0           0           1-->
<!--  0.0028461   0.0112804   -0.999932  -0.0737303-->
<!--  0.00627436    0.999916   0.0112981 0.000351512-->
<!--  0.999976 -0.00630609  0.00277508    0.102236-->
<!--  0           0           0           1-->
<!--  Angle XYZ -->
<!-- x:-0.9020437, y: -1.5614485, z: -0.8978304 -->
  <xacro:include filename="$(find vacuum)/urdf/vacuum.urdf"/>
  <joint name="vacuum_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="1.57 0 0"/>
    <parent link="link6"/>
    <child link="vacuum_base_link"/>
  </joint>

</robot>

